/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('login.jpg'); /* Set the background image */
    background-size: cover; /* Ensures the image covers the screen */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps background fixed while scrolling */
    height: 100vh; /* Full-screen height */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150vh;
}

.signup-box, 
.login-box {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to see the background */
    padding: 40px 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 28px;
    color: #89d434;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

.signup-form input, 
.signup-form select, 
.signup-form button, 
.login-form input, 
.login-form button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.signup-form input:focus, 
.signup-form select:focus, 
.login-form input:focus {
    border-color: #98cc44;
    outline: none;
}

.signup-form button, 
.login-form button {
    background-color: #98cc36;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover, 
.login-form button:hover {
    background-color: #9aee55;
}

.signup-redirect, 
.login-redirect {
    font-size: 14px;
    margin-top: 10px;
}

.signup-redirect a, 
.login-redirect a {
    color: #94d32e;
    text-decoration: none;
    font-weight: bold;
}

.signup-form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.signup-form label {
    font-size: 16px;
    color: #555;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.signup-form select {
    height: 50px;
}

.signup-form input[type="number"] {
    -moz-appearance: textfield;
}

.signup-form input[type="number"]::-webkit-outer-spin-button, 
.signup-form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.signup-form .btn, 
.login-form .btn {
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .signup-box, 
    .login-box {
        width: 100%;
    }
}
